body {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 1)
    ),
    url('/src/assets/images/appBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: absolute;
  /* font-family: 'Roclette Pro'; */
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Roclette Pro';
  src: url('./assets/fonts/RoclettePro-Normal.ttf') format('truetype');
}
